<!-- perfil-usuario.component.html -->
<div class="perfil-container">
    <h2 class="perfil-title">Mi Perfil</h2>
    <form [formGroup]="perfilForm" (ngSubmit)="onSubmit()">
      <div class="form-field">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" formControlName="nombre">
      </div>
      <div class="form-field">
        <label for="apellido">Apellido:</label>
        <input type="text" id="apellido" formControlName="apellido">
      </div>
      <div class="form-field">
        <label for="email">Email:</label>
        <input type="email" id="email" formControlName="email">
      </div>
      <div class="form-field">
        <label>Rol:</label>
        <input type="text" formControlName="rol">
      </div>
      <button type="submit" class="update-btn">Actualizar</button>
    </form>
  </div>
  