<!-- product-list.component.html -->
<div class="product-container">
    <h1 class="title">Nuestros Productos</h1>
    <div class="product-grid">
      <div class="product-card" *ngFor="let producto of productos">
        <img style="width: 200px;" *ngIf="producto.imagen" [src]="'data:image/jpeg;base64,' + producto.imagen" alt="Imagen del Producto">
        <div class="product-info">
          <h5 class="product-name">{{ producto.nombre }}</h5>
          <div class="product-counter">
            <button class="btn" (click)="decrement(producto.id)">-</button>
            <input type="text" class="quantity-input" [(ngModel)]="contadorProductos[producto.id]">
            <button class="btn" (click)="increment(producto.id)">+</button>
        </div>
          <button class="btn btn-cart" (click)="agregarAlCarrito(producto)">Agregar al Carrito</button>
          <button class="btn btn-buy" (click)="comprarAhora(producto)">Comprar Ahora</button>
        </div>
      </div>
    </div>
  </div>
  